.App {
  text-align: center;
  width: 95%;
  margin: 15px auto;
}

.container {
  position: absolute;
  height: 440px;
  width: 60vw;
  left: 50%;
  transform: translateX(-50%);
  background: pink;
}

.column {
  display: inline-block;
  margin: 10px 10px 10px 20px;
  width: 240px;
  height: 400px;
}
.title {
  height: 40px;
  width:240px;
  text-align: center;
  padding-top:15px;
  color:snow;
  font-size:16px;
  font-weight: 600;
  border:none;
  display: block;
}
.listDiv{
  width: 240px;
  height: 360px;
  overflow-x: scroll;
  overflow-y:none;
  background:red;
}
.working {
  background: #eeeeee;
}
.working .title{
 background:blue;
}

.todo {
  background: #eeeeee;
}
.todo .title{
  background:orange;
}
.done {
  background: #eeeeee;
}
.done .title{
  background:seagreen;
}
.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  width: 100%;
}

.task-header {
  display: inline-block;
  background-color: skyblue;
  width: 100%;
}

.draggableTaskDiv {
  width: 220px;
  height: 40px;
  margin: 5px;
  background:snow;
  border-radius: 6px;
  text-align: center;
  padding-top:20px;
}
